.galleryformatter {
  margin: 0 auto;
}

.galleryformatter * {
  margin: 0;
  padding: 0;
}

.galleryformatter li {
  margin-left: 0;
  padding-left: 0;
  list-style: none;
}

.galleryformatter .gallery-slides,
.galleryformatter .gallery-thumbs {
  margin: 0 auto;
}

.galleryformatter .gallery-slides ul,
.galleryformatter .gallery-thumbs ul {
  margin: 0;
}

li.gallery-slide {
  display: block;
}

.gallery-thumbs .wrapper,
.gallery-slides {
  position: relative;
  overflow: hidden;
}

.gallery-frame {
  width: 99999px;
}

.gallery-slides .gallery-slide {
  position: relative;
  float: left;
}

.gallery-thumbs {
  position: relative;
}

.galleryformatter .gallery-slides ul,
.galleryformatter .gallery-thumbs ul {
  margin: 0;
  padding: 0;
  list-style-position: outside;
  list-style-type: none;
  list-style-image: none;
}

.gallery-thumbs ul li {
  display: block;
  float: left;
  padding: 0 4px 0 0;
}

.gallery-thumbs li a {
  outline: none;
}

.galleryformatter .view-full {
  position: absolute;
}

.galleryformatter .slide-button {
  position: absolute;
  top: 42%;
  display: block;
  cursor: pointer;
}

.galleryformatter .prev-slide {
  left: 0;
}

.galleryformatter .next-slide {
  right: 0;
}

.galleryformatter .gallery-thumbs .arrow {
  cursor: pointer;
}

.gallery-processed .gallery-frame {
  position: relative;
}

.gallery-processed .gallery-slides .gallery-slide {
  position: absolute;
  top: 0;
  left: 0;
  float: none;
}
