{#
/**
 * @file
 * Default theme implementation to display a jQuery Gallery formatted set of images.
 *
 * Available variables:
 * - slides: An array of images to be displayed as slides.
 * - thumbs: An array of thumbnail images.
 * - settings: Configuration options for the gallery (e.g., style, layout).
 * - dimensions: Dimensions of the gallery elements.
 *
 * @ingroup themeable
 */
#}
<div class="galleryformatter galleryview galleryformatter-{{ settings.style }}">
  <div class="gallery-slides">
    <div class="gallery-frame">
      <ul>
      {% for item in slides %}
        <li class="gallery-slide">
          {{ item }}
          <div class="panel-overlay">
              <div class="overlay-inner">
              <h4>{{ item.alt }}</h4>
              <h3>{{ item.title }}</h3>
            </div>
          </div>
        </li>
      {% endfor %}
      </ul>
    </div>
  </div>
  <div class="gallery-thumbs">
    <div class="wrapper">
      <ul>
      {% for item in thumbs %}
        <li class="slide-TODO-ID"><a href="#">{{ item }}</a></li>
      {% endfor %}
      </ul>
    </div>
  </div>
</div>
